body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #4A1111;
}

 h2, p {
    color: #E3E4C7;
    padding: 10px;
}

div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-end;
    align-items: center;
}

.left-aligned {
    float: left;
    margin-right: 10px;
    max-width: 200px;
}
h1{
    font-family: "Sofia", sans-serif;
    color: #97818E;
}